@import "tailwindcss";
@import "material-icons/iconfont/material-icons.css";
@theme {
  --shadow-card: 0 3px 8px rgba(0, 0, 0, 0.25);
}

@keyframes slotSpin {
  0% {
    transform: scaleY(1);
    filter: blur(0px);
  }
  25% {
    transform: scaleY(1.2);
    filter: blur(3px);
  }
  50% {
    transform: scaleY(0.8);
    filter: blur(3px);
  }
  75% {
    transform: scaleY(1.1);
    filter: blur(1px);
  }
  100% {
    transform: scaleY(1);
    filter: blur(0px);
  }
}

.animate-slotSpin {
  animation: slotSpin 0.3s infinite linear;
}
